<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.magis.meinreisen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LearningMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".LearningKerja"
            android:screenOrientation="portrait"/>
        <activity android:name=".LearningBenda"
            android:screenOrientation="portrait"/>
        <activity android:name=".LearningTempat"
            android:screenOrientation="portrait"/>
        <activity android:name=".LearningStory"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizMenu"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizTrueFalse"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizMultipleChoice"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizResult"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizDragNDrop"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuizListening"
            android:screenOrientation="portrait" />
    </application>

</manifest>